<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>

        <mapping class="com.ehealth.hmms.pojo.Users"/>
        <mapping class="com.ehealth.hmms.pojo.Role"/>
        <mapping class="com.ehealth.hmms.pojo.HospitalMaster"/>
        <mapping class="com.ehealth.hmms.pojo.DistrictMaster"/>
        <mapping class="com.ehealth.hmms.pojo.MonthlyDataFhcChc"/>
        <mapping class="com.ehealth.hmms.pojo.HospitalTypeMaster"/>
        <mapping class="com.ehealth.hmms.pojo.HospitalMonthlyTracker"/>
        <mapping class="com.ehealth.hmms.pojo.OpIpDetails"/>
        <mapping class="com.ehealth.hmms.pojo.SpecialityClinicData"/>
        
    </session-factory>
</hibernate-configuration>